body {
    text-align: center; 
}
h1 {
font-family: 'Kaushan Script', cursive;
color: white;
}
img { 
     height: 450px;
  width: 400px;
}
body { 
    background-image:url("https://www.ecestaticos.com/imagestatic/clipping/e18/5e6/e185e650152246896655520b4c2fa4eb/hablemos-de-colores.jpg?mtime=1531132619");
}
p {
    color:white;
}